* {
	overflow: hidden;
	background-size: cover;
}

span {
	color: aqua !important;
}

/*div {
    background-color: rgb(19, 19, 19) !important;
}*/

body {
	color: rgb(0, 177, 0);
	margin: 0;
	padding: 0;
	background-color: black;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Para Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/* Para o caso do IE (caso ainda seja necessário) */
input[type="number"]::-ms-clear {
	display: none;
}

p {
	padding: 5px;
	margin: 1px;
	font-size: 15px;
}

#license {
	position: absolute;
	text-align: center;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.85);
	width: 100%;
	height: 100%;
}

#license-info {
	position: relative;
	width: 50%;
	height: 97.5%;
	background-color: rgb(10, 10, 10);
	margin: 0.4% auto;
	border-radius: 15px;
	border-style: solid;
	border-width: 2px;
}

#license-info > h1 {
	font-size: 150%;
	position: relative;
	display: block;
}

#license-text {
	background-color: black;
	width: 80%;
	margin: 0 auto;
	overflow: scroll !important;
	height: 65%;
	border-style: solid;
	border-color: rgba(85, 255, 105, 0.4);
	border-radius: 15px;
}

#agreement-btn {
	all: unset;
	color: white;
	background-color: rgb(50, 50, 50);
	border-radius: 15px;
	width: 25%;
	height: 7.5%;
	user-select: none;
}

#agreement-btn:hover {
	background-color: rgb(40, 40, 40);
}

#agreement-btn:active {
	background-color: rgb(82, 82, 82);
}

label {
	user-select: none;
}

.keyBtn {
	background-color: rgb(105, 105, 105);
	color: rgb(255, 255, 255);
}

.m1Button {
	background-color: rgb(78, 78, 78);
	color: rgb(0, 255, 0);
	width: 200px;
	height: 30px;
	font-size: 18px;
}

.m1Lavar {
	background-color: rgb(78, 78, 78);
	color: rgb(0, 255, 0);
	width: 200px;
	height: 30px;
	font-size: 18px;
}

.buyBtn {
	background-color: rgb(105, 105, 105);
	color: rgb(0, 255, 0);
}

.upgBtn1T {
	background-color: rgb(105, 105, 105);
	color: rgb(255, 255, 255);
	width: 425px;
	height: 30px;
	font-size: 15px;
}

.prestigioBtn {
	background-color: rgb(78, 78, 78);
	color: rgb(0, 255, 0);
	width: 150px;
	height: 30px;
	font-size: 18px;
}

.bg {
	position: absolute;
	width: 1364px;
	height: 633px;
	left: 0px;
	top: 0px;
	background-image: url(assets/bg-test-2.png);
	/* transform: scale(1.405) translate(14.5%, 14.5%); */ /* zoom 1 */
	/* transform: scale(1.1247) translate(5.6%, 5.7%); */ /* zoom 2 */
	/* DEIXAR EM COMENTARIO NA RELEASE 7 */
}

.painel {
	position: absolute;
	/*background-color: rgb(49, 49, 49);*/
	margin: 10px;
	padding: 5px;
	width: 435px;
	height: 294px;
	z-index: 1;
}

.etc {
	position: absolute;
	/* background-color: rgb(78, 31, 31); */
	margin: 10px;
	padding: 5px;
	width: 435px;
	height: 294px;
	top: 309px;
	z-index: 2;
}

.creditos {
	display: none;
}

.agradecimento {
	font-size: 40px;
	color: rgb(0, 255, 0);
}

#cassinoMoeda {
	background-image: url(assets/coin/cassino-moeda-girando.gif);
	background-size: cover;
	position: absolute;
	width: 250px;
	height: 250px;
	left: 85px;
	top: 105px;
}

#btnCredit {
	background-color: rgb(78, 78, 78);
	color: rgb(0, 255, 0);
	width: 50px;
	height: 50px;
	font-size: 16px;
	bottom: 5px;
	position: absolute;
	top: 5px;
	right: 5px;
	background-image: url(assets/misc/misc-trade.png);
	border-style: none;
}

#btnZoomPlus {
	background-color: rgb(78, 78, 78);
	position: absolute;
	border-style: none;
	width: 50px;
	height: 50px;
	top: 60px;
	right: 5px;
	background-image: url(assets/misc/zoom-plus.png);
}

#btnZoomMinus {
	background-color: rgb(78, 78, 78);
	position: absolute;
	border-style: none;
	width: 50px;
	height: 50px;
	top: 115px;
	right: 5px;
	background-image: url(assets/misc/zoom-minus.png);
}

#btnAutoClicker {
	background-color: rgb(78, 78, 78);
	position: absolute;
	border-style: none;
	width: 50px;
	height: 50px;
	top: 170px;
	right: 5px;
	background-image: url(assets/misc/auto-clicker-off.png);
	background-size: cover;
}

#barraRand {
	margin: 0px;
	padding: 0px;
}

#currencySwitch {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 220px;
	bottom: 0px;
	background-color: rgb(51, 51, 51);
	background-size: cover;
	border-color: rgb(97, 97, 97);
	background-image: url(assets/misc/fragment-to-dinheiro-switch-grana.png);
}

#apostaCassino {
	position: absolute;
	background-color: rgb(153, 152, 152);
	color: rgb(0, 0, 0);
	border-color: black;
	width: 205px;
	height: 45px;
	font-size: 30px;
	bottom: 0px;
	left: 5px;
}

#btnApostar {
	position: absolute;
	background-color: rgb(0, 172, 0);
	border-color: rgb(21, 255, 0);
	bottom: 0px;
	right: 85px;
	height: 50px;
	width: 75px;
	font-size: 20px;
}

#allIn {
	position: absolute;
	background-color: rgb(230, 226, 0);
	border-color: rgb(229, 255, 0);
	right: 5px;
	bottom: 0px;
	height: 50px;
	width: 75px;
	font-size: 20px;
	border-radius: 0%;
}

#suaAposta {
	position: absolute;
	top: 20px;
	left: 5px;
}

#resultadoMoeda {
	position: absolute;
	top: 40px;
	left: 5px;
}

#resultadoAposta {
	position: absolute;
	top: 60px;
	left: 5px;
}

.btnCoroa {
	position: absolute;
	width: 100px;
	height: 50px;
	right: 5px;
	top: 25px;
	background-image: url(assets/coin/cassino-coin-crown.png);
	background-size: 50%;
	background-repeat: no-repeat;
	background-color: rgb(88, 88, 88);
	color: yellow;
	text-align: right;
	font-size: 18px;
	border-color: rgb(93, 93, 93);
}

.btnCara {
	position: absolute;
	width: 100px;
	height: 50px;
	right: 110px;
	top: 25px;
	background-image: url(assets/coin/cassino-coin-tails.png);
	background-size: 50%;
	background-repeat: no-repeat;
	background-color: rgb(88, 88, 88);
	color: yellow;
	text-align: right;
	font-size: 18px;
	border-color: rgb(93, 93, 93);
}

.devStuff {
	background-color: rgb(0, 230, 0);
	border-color: rgb(123, 206, 0);
}

.prestigeUpg1 {
	position: absolute;
	width: 210px;
	height: 90px;
	top: 70px;
	left: 5px;
	background-image: url(assets/prestige-btn/prestige-btn-1png.png);
	background-size: cover;
	background-color: rgb(120, 120, 120);
}

.prestigeUpg2 {
	position: absolute;
	width: 210px;
	height: 90px;
	top: 70px;
	right: 5px;
	background-image: url(assets/prestige-btn/prestige-btn-1png.png);
	background-size: cover;
	background-color: rgb(120, 120, 120);
}

.prestigeUpg3 {
	position: absolute;
	width: 210px;
	height: 90px;
	top: 165px;
	left: 5px;
	background-size: cover;
	background-color: rgb(120, 120, 120);
}

.prestigeUpg4 {
	position: absolute;
	width: 210px;
	height: 90px;
	top: 165px;
	right: 5px;
	background-size: cover;
	background-color: rgb(120, 120, 120);
}

.prestigeUpg5 {
	position: absolute;
	width: 210px;
	height: 90px;
	top: 260px;
	left: 5px;
	background-size: cover;
	background-color: rgb(120, 120, 120);
}

.prestigeUpg6 {
	position: absolute;
	width: 210px;
	height: 90px;
	top: 260px;
	right: 5px;
	background-size: cover;
	background-color: rgb(120, 120, 120);
}

.prestigeUpg7 {
	position: absolute;
	width: 425px;
	height: 100px;
	top: 355px;
	left: 5px;
	background-size: cover;
	background-color: rgb(120, 120, 120);
}

.menuBarra1 {
	position: absolute;
	/*background-color: rgba(0, 255, 255, 0.336);*/
	height: 160px;
	width: 435px;
	top: 460px;
	left: 0px;
}

.btn1Barra1 {
	position: absolute;
	width: 128px;
	height: 130px;
	left: 10px;
	top: 13px;
	background-image: url(assets/bar-1/128px-icone1-barra1-on.png);
}

.btn2Barra1 {
	position: absolute;
	width: 129px;
	height: 130px;
	left: 153px;
	top: 13px;
	background-image: url(assets/bar-1/129px-icone2-barra1-off.png);
}

.btn3Barra1 {
	position: absolute;
	width: 128px;
	height: 130px;
	left: 297px;
	top: 13px;
	background-image: url(assets/bar-1/128px-icone3-barra1-off.png);
}

.menuBarra2 {
	position: absolute;
	height: 160px;
	width: 435px;
	top: 460px;
	left: 0px;
	z-index: 2;
}

.btn1Barra2 {
	position: absolute;
	width: 128px;
	height: 130px;
	left: 10px;
	top: 13px;
	background-image: url(assets/bar-2/128px-icone1-barra2-on.png);
}

.btn2Barra2 {
	position: absolute;
	width: 129px;
	height: 130px;
	left: 153px;
	top: 13px;
	background-image: url(assets/bar-2/129px-icone2-barra2-off.png);
}

.btn3Barra2 {
	position: absolute;
	width: 128px;
	height: 130px;
	left: 297px;
	top: 13px;
	background-image: url(assets/bar-2/128px-icone3-barra2-off.png);
}

.setor1 {
	position: absolute;
	height: 603px;
	width: 425px;
	left: 470px;
	top: 10px;
	padding: 5px;
	z-index: 2;
	/*background-image: url(assets/Setor-1-bg.png);*/
}

.upgrades {
	position: absolute;
	height: 453px;
	width: 425px;
	left: 0px;
	top: 0px;
	padding: 5px;
	z-index: 2;
	overflow-x: hidden;
	overflow-y: scroll;
}

.cassino {
	position: absolute;
	height: 453px;
	width: 425px;
	left: 0px;
	top: 0px;
	padding: 5px;
	z-index: 2;
	/*background-color: rgba(0, 255, 255, 0.301);*/
	display: none;
}

.placar {
	position: absolute;
	height: 453px;
	width: 425px;
	left: 0px;
	top: 0px;
	padding: 5px;
	z-index: 2;
	/*background-color: rgba(255, 0, 200, 0.301);*/
	display: none;
}

.setor2 {
	position: absolute;
	height: 603px;
	width: 425px;
	left: 920px;
	top: 10px;
	/*background-color: rgb(39, 16, 0);*/
	padding: 5px;
	z-index: 1;
	/*background-image: url(assets/Setor-2-bg.png);*/
}

.melhorias1time {
	position: absolute;
	height: 453px;
	width: 424px;
	left: 0px;
	top: 0px;
	padding: 5px;
	z-index: 1;
	overflow: scroll !important;
}

.arvorePrestigio {
	position: absolute;
	height: 453px;
	width: 424px;
	left: 0px;
	top: 0px;
	padding: 5px;
	z-index: 1;
	/*background-color: rgba(0, 255, 255, 0.192);*/
	display: none;
}

.conta {
	position: absolute;
	height: 453px;
	width: 424px;
	left: 0px;
	top: 0px;
	padding: 5px;
	z-index: 1;
	/*background-color: rgba(9, 255, 0, 0.192);*/
	display: none;
}

mostrar {
	display: inline;
}

hide {
	display: none;
}
